<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--Banderin para encriptar o desencriptar 1 = Encripta  0 = Desencripta -->
	<appSettings>
		<add key="BanEncriptDecript" value="0" />
		<add key="MnsjOptInvalid" value="La opcion no corresponde a la esperada"/>
		<add key="EstatusError" value="A003"/>
		<add key="EstatusOptInvalid" value="A004"/>


	</appSettings>


	
	
	
</configuration>